<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="productlistoriginT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="productlistoriginT.Properties.Settings.stoktakipConnectionString"
            connectionString="Data Source=DESKTOP-9C7V3JG\SQLEXPRESS;Initial Catalog=stoktakip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <productlistoriginT.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>tr</value>
            </setting>
        </productlistoriginT.Properties.Settings>
    </userSettings>
</configuration>